body {
    background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
}

.wrapper {
    width: 600px;
    padding: 30px;
}



/* Media Queries */

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}